"Erdogan Madenci, Ibrahim Guven (auth.) - The Finite Element Method and Applications in Engineering Using ANSYS®-Springer US (2015).pdf"
Erdogan Madenci, Ibrahim Guven (auth.) - The Finite Element Method and Applications in Engineering Using ANSYS®-Springer US (2015)
"Erdogan Madenci, Ibrahim Guven (auth.) - The Finite Element Method and Applications in Engineering Using ANSYS.pdf"
book.pdf
Erdogan Madenci Ibrahim Guven-The Finite Element Method and Applications in Engineering Using ANSYS.pdf

